html {
   font-family: Ubuntu, sans-serif;
}

body {
   font-family: Ubuntu, sans-serif;
    background-color: ghostwhite;
}

h1 {
    text-align: center;
    font-family: Ubuntu, sans-serif;
}

p {
    text-align: center;
    font-family: Ubuntu, sans-serif:
}

slideshow-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
